.site-title::before {
content: url("https://raw.githubusercontent.com/thepandarobot/pandarobot/main/favicon.ico");
display: inline-block;
position: relative;
width: 35px;
top: 5px;
padding-right: 40px;
}
