.site-title::before {
content: url("https://raw.githubusercontent.com/thepandarobot/pandarobot/main/_resources/header.png");
display: inline-block;
position: relative;
width: 35px;
top: 5px;
padding-right: 40px;
color: black;
}

body  {
  background-image: url("https://raw.githubusercontent.com/thepandarobot/pandarobot/main/_resources/7256DC05-9BEB-4585-A019-9BA0C6116657.png");
  background-repeat: no-repeat;
}

p {
  color: black;
}

.page-link::before {
  color: black;
}
