.site-title::before {
content: url("https://raw.githubusercontent.com/thepandarobot/pandarobot/main/favicon.ico");
display: inline-block;
position: relative;
width: 35px;
top: 5px;
padding-right: 40px;
}

body  {
  background-image: url("https://raw.githubusercontent.com/thepandarobot/pandarobot/main/_resources/7256DC05-9BEB-4585-A019-9BA0C6116657.png");
}

p {
  color: black;
}
